name: Build

permissions: {}

on:
  schedule:
    - cron: 0 18 * * * # 2:00 UTC+8 everyday
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write # required to make release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: true

      - name: setup project with mise
        id: setup-mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true
          tool_versions: |
            python ${{ matrix.python-version }}
            uv latest

      - run: uv run cngal_calendar.py

      - name: upload as release
        run: gh release upload "${TAG}" --clobber output/cngal-*
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: continuous
