name: Test

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches:
      - main
    paths-ignore:
      - output/**
      - "**.md"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: setup project with mise
        id: setup-mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true
          tool_versions: |
            python ${{ matrix.python-version }}
            uv latest

      - run: uv run cngal_calendar.py
